.flex {
  display: flex !important;
}

.justify-between {
  justify-content: space-between;
}

.flex-col {
  flex-direction: column;
}

.button {
  text-decoration: none;
  box-sizing: border-box;
  margin: 20px auto 0 auto;
  padding: 0;
  
  background: var(--background-color);
  color: var(--text-color);

  border-radius: 2px;
  border: 1.5px solid var(--text-color);

  width: 600px;
  height: 60px;
}

.button:hover {
  background-color: var(--background-color-hover);
}

@media (max-width: 768px) {
  .button {
    width: 320px;
    margin: 20px auto 0 auto;
  }
}

.button .contents {
  display: flexbox !important;
}

.button p {
  text-align: center;
  margin-top: -36px;
}

.align-left {
  align-items: left !important;
  margin-left: 15px;
  margin-top: 13px;
}

.right-align {
  text-align: end !important;
  align-items: right !important;
  margin-top: -30px;
  margin-right: 15px;
}

.flex Svg, .flex svg { 
  width: 35px;
}

.button .icon {
  fill: var(--text-color);
}