@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', sans-serif !important;
  transition: ease-in-out 220ms;
}

:root {
  --text-color: #1e1e1e;
  --background-color: #ebebeb;
  --background-color-hover: #ebebeb;
  --secondary-color: #c22ba9;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #dbdbdb;
    --background-color: #1e1e1e;
    --background-color-hover: #272727;
  }
}

header h1 {
  font-size: 700;
}

.container {
  border:rgb(0, 0, 0) solid 1px;
  border-radius: 5px;
  position: relative;
  margin: 20px 100px;
  padding: 20px; 
  /* width: 100%; */
  /* height: 100%; */
}

.container * {
  text-align: center;
}

.hover:hover {
  cursor: pointer; 
  transform: translate(0px, 2.5px);
}

.hover:active {
  transform: translate(0px, 5px);
	  cursor: pointer;
}
