@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", +bold;
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  
  --primary-color: #9d067d;
  --secondary-color: #ee20c2;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  /* overflow: hidden; */
  position: absolute;
  width: 100%;
  top: 140px;
  bottom: 100%;
  opacity: 0;
}

section.section_show {
  top: 70px;
  bottom: auto;
  opacity: 1;
  padding-bottom: 0px;
}

section .interests .container {
  padding: -40px !important;
}

section .container {
  background: rgba(0, 0, 0, 0);
  padding: 30px;
}

@media (max-width: 768px) {
  section {
    top: 120px;
  }
  section.section_show {
    top: 80px;
  }
}

.section_title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #dee2e6;
  font-family: "Poppins", sans-serif;
}

.section_title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #dee2e6;
  margin: 4px 10px;
}

.section_title p {
  margin: 0;
  margin: -15px 0 15px 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
  